* {
  padding: 0;
  margin: 0;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

input {
  vertical-align:middle;
}

.content {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}

#input-str {
  width: 100%;
  height: 50px;
  overflow: auto;
  margin: 2px;
}

.input-container {
  width: 100%;
  height: 30px;
  margin: 2px;
} 

#input-data {
  width: 73%;
  height: 26px;
}

#input-submit {
  width: 23%;
  height: 30px;
  border-radius: 0;
}

#suggestion {
  width: 100%;
  height: 100px;
  margin: 2px;
}

.result-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.result-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.result-item {
  float: left;
  width: 33%;
}

.result-item li {
  text-align: center;
  border: 1px solid black;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  margin: 1px;
}
